<script language="JavaScript" type="text/javascript">
tag_prompt = "{lang_tag_prompt}";
link_text_prompt = "{lang_link_text_prompt}";
link_url_prompt = "{lang_link_url_prompt}";
link_email_prompt = "{lang_link_email_prompt}";
list_type_prompt = "{lang_list_type_prompt}";
list_item_prompt = "{lang_list_item_prompt}";

tags = new Array();

function getarraysize(thearray) {
  for (i = 0; i < thearray.length; i++) {
    if ((thearray[i] == "undefined") || (thearray[i] == "") || (thearray[i] == null)) {
      return i;
    }
  }
  return thearray.length;
}

function arraypush(thearray,value) {
  thearraysize = getarraysize(thearray);
  thearray[thearraysize] = value;
}

function arraypop(thearray) {
  thearraysize = getarraysize(thearray);
  retval = thearray[thearraysize - 1];
  delete thearray[thearraysize - 1];
  return retval;
}

function bbcode(theform,bbcode,prompttext) {
  inserttext = prompt(tag_prompt+"\n["+bbcode+"]xxx[/"+bbcode+"]",prompttext);
  if ((inserttext != null) && (inserttext != "")) {
    theform.comment_text.value += "["+bbcode+"]"+inserttext+"[/"+bbcode+"] ";
    theform.comment_text.focus();
  }
}

function namedlink(theform,thetype) {
  linktext = prompt(link_text_prompt,"");
  var prompttext;
  if (thetype == "URL") {
    prompt_text = link_url_prompt;
    prompt_contents = "http://";
  }
  else {
    prompt_text = link_email_prompt;
    prompt_contents = "";
  }
  linkurl = prompt(prompt_text,prompt_contents);
  if ((linkurl != null) && (linkurl != "")) {
    if ((linktext != null) && (linktext != "")) {
      theform.comment_text.value += "["+thetype+"="+linkurl+"]"+linktext+"[/"+thetype+"] ";
    }
    else {
      theform.comment_text.value += "["+thetype+"]"+linkurl+"[/"+thetype+"] ";
    }
  }
  theform.comment_text.focus();
}

function dolist(theform) {
  listtype = prompt(list_type_prompt, "");
  if ((listtype == "a") || (listtype == "1")) {
    thelist = "[list="+listtype+"]\n";
    listend = "[/list="+listtype+"] ";
  }
  else {
    thelist = "[list]\n";
    listend = "[/list] ";
  }
  listentry = "initial";
  while ((listentry != "") && (listentry != null)) {
    listentry = prompt(list_item_prompt, "");
    if ((listentry != "") && (listentry != null)) {
      thelist = thelist+"[*]"+listentry+"[/*]\n";
    }
  }
  theform.comment_text.value += thelist+listend;
  theform.comment_text.focus();
}
</script>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-sm me-2" role="group">
    <button type="button" class="btn btn-outline-secondary" onclick="bbcode(this.form,'B','')" title="Bold">
      <i class="fa-solid fa-bold"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" onclick="bbcode(this.form,'I','')" title="Italic">
      <i class="fa-solid fa-italic"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" onclick="bbcode(this.form,'U','')" title="Underline">
      <i class="fa-solid fa-underline"></i>
    </button>
  </div>
  <div class="btn-group btn-group-sm me-2" role="group">
    <button type="button" class="btn btn-outline-secondary" onclick="bbcode(this.form,'IMG','http://')" title="Image">
      <i class="fa-solid fa-image"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" onclick="namedlink(this.form,'URL')" title="URL">
      <i class="fa-solid fa-link"></i>
    </button>
  </div>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-outline-secondary" onclick="bbcode(this.form,'code','')" title="Code">
      <i class="fa-solid fa-code"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" onclick="dolist(this.form)" title="List">
      <i class="fa-solid fa-list"></i>
    </button>
  </div>
</div>
