{header}
<table class="w-[640px] mx-auto border-0">
  <tr>
    <td>
      <table class="w-full border-0 tablehead">
        <tr>
          <td colspan="4" class="w-full">
            <table class="w-full p-0">
              <tr>
                <td class="w-[6px]"><img src="{template_url}/images/header_top_left.gif" width="6" height="6" alt="" /></td>
                <td class="w-full"><img src="{template_url}/images/header_top.gif" class="w-full h-[6px]" alt="" /></td>
                <td class="w-[6px]"><img src="{template_url}/images/header_top_right.gif" width="6" height="6" alt="" /></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="w-[6px]"><img src="{template_url}/images/header_left.gif" width="6" height="60" alt="" /></td>
          <td class="w-full"><img src="{template_url}/images/header_logo.gif" width="405" height="60" alt="" /></td>
          <td class="w-[225px] text-right">
            <form method="post" action="{url_search}">
              <table class="border-0">
                <tr>
                  <td>
                    <input type="text" name="search_keywords" size="15" class="searchinput px-2 py-1 border border-gray-300 rounded" />
                  </td>
                  <td>
                    <input type="submit" value="{lang_search}" class="button px-3 py-1 bg-brand-blue text-white rounded cursor-pointer hover:bg-brand-blue-light" name="submit" />
                  </td>
                </tr>
                <tr class="align-top">
                  <td colspan="2"><a href="{url_search}" class="smalltext text-xs">{lang_advanced_search}</a></td>
                </tr>
              </table>
            </form>
          </td>
          <td class="text-right w-[6px]"><img src="{template_url}/images/header_right.gif" width="6" height="60" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="bordercolor border border-brand-border">
      <table class="w-full border-0">
        <tr>
          <td class="tablebgcolor bg-white">
            <table class="w-full border-0">
              <tr>
                <td class="navbar bg-brand-yellow h-[23px]">
                  <table class="w-full border-0">
                    <tr>
                      <td class="px-1">{clickstream}</td>
                      <td class="text-right">
                        <a href="{url_top_images}" class="font-bold hover:underline">{lang_top_images}</a>&nbsp;
                        <a href="{url_new_images}" class="font-bold hover:underline">{lang_new_images}</a>&nbsp;
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-full border-0">
              <tr>
                <td class="w-[150px] row2 bg-brand-gray align-top">
                  <table class="w-[150px] border-0">
                    <tr>
                      <td class="head2 bg-brand-blue text-white h-[20px] px-1">{lang_registered_user}</td>
                    </tr>
                    <tr>
                      <td class="tablebgcolor bg-brand-border h-px"></td>
                    </tr>
                    <tr>
                      <td class="row1 bg-brand-gray-light text-center">{user_box}</td>
                    </tr>
                    <tr>
                      <td class="tablebgcolor bg-brand-border h-px"></td>
                    </tr>
                  </table>
                  {if random_image}
                  <table class="w-[150px] border-0">
                    <tr>
                      <td class="head2 bg-brand-blue text-white h-[20px] px-1">{lang_random_image}</td>
                    </tr>
                    <tr>
                      <td class="tablebgcolor bg-brand-border h-px"></td>
                    </tr>
                    <tr>
                      <td class="row1 bg-brand-gray-light text-center py-4">
                        {random_image}
                      </td>
                    </tr>
                    <tr>
                      <td class="tablebgcolor bg-brand-border h-px"></td>
                    </tr>
                  </table>
                  {endif random_image}
                </td>
                <td class="w-px bordercolor border-brand-border bg-brand-border align-top"></td>
                <td class="w-[18px] align-top"></td>
                <td class="w-full align-top">
                  <div class="py-2"></div>
                  <span class="title text-2xl font-bold">{site_name}</span>
                  <hr class="my-2 border-t border-gray-300" />

                  {if categories}
                  <table class="w-full border-0 mb-4">
                    <tr>
                      <td class="head1 bg-brand-blue">
                        <table class="w-full border-0">
                          <tr>
                            <td class="head1 bg-brand-blue text-white p-3 align-top">{lang_categories}</td>
                          </tr>
                          <tr>
                            <td class="row2 bg-brand-gray p-3 align-top">{categories}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  {endif categories}

                  <div class="mb-4">{lang_site_stats}</div>

                  {if msg}<div class="font-bold mb-4">{msg}</div>{endif msg}

                  <table class="w-[450px] border-0 mb-4">
                    <tr>
                      <td class="head1 bg-brand-blue">
                        <table class="w-full border-0">
                          <tr>
                            <td class="head1 bg-brand-blue text-white p-4 align-top">{lang_new_images}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="head1 bg-brand-blue">{new_images}</td>
                    </tr>
                  </table>

                  {whos_online}
                  <div class="my-4"></div>

                  <table class="w-full border-0">
                    <tr>
                      <td>{category_dropdown_form}</td>
                      <td class="text-right">{setperpage_dropdown_form}</td>
                    </tr>
                  </table>
                  <p class="my-4">&nbsp;</p>
                </td>
                <td class="w-[19px] align-top"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="w-full border-0 tablebottom">
        <tr>
          <td class="w-[6px]"><img src="{template_url}/images/footer_left.gif" width="6" height="19" alt="" /></td>
          <td class="w-full"></td>
          <td class="w-[6px]"><img src="{template_url}/images/footer_right.gif" width="6" height="19" alt="" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{footer}